* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.msg{
    font-size: 14px;
    text-align: left;
    padding-bottom: 5px;
}

h2 {
    font-size: 24px;
}

.profile-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    max-width: 340px;
    justify-content: center;
    text-align: center;

}

.signin-form {
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid ;
    font-size: 14px;
    border-radius: 10px;
}

.input-group .icon-i {
    position: absolute;
    left: 10px;
    top: 65%;
    transform: translateY(-50%);
    color: #888;
}

.Create-account{
    width: 50%;
    padding: 12px 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
}

.sub-text{
    font-size: 17px;
    color: #888;
    text-align: center;
}

.logos img{
    width: 40px;
    height: auto;
}

.logos{
    padding-top: 15px;
}